{{#if queueList.movies}}
  <h2>Movie Queue</h2>
  {{#each queueList.movies as |movie|}}
  <div class="row">
    <div class="col-md-6">

      <h2>{{movie.title}} - {{movie.rating}}</h2>
    </div>
  </div>
  {{/each}}
{{else}}
  <h3>The Queue is empty.  Please add movies you would like to watch.</h3>
{{/if}}
